@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*#region Colors */
  :root {
    --gray-950: #171717;
    --gray-900: #1c1c1c;
    --gray-800: #292929;
    --gray-700: #333333;
    --gray-600: #5c5c5c;
    --gray-500: #7b7b7b;
    --gray-400: #a3a3a3;
    --gray-300: #d1d1d1;
    --gray-200: #9b9b9b;
    --gray-100: #f5f5f5;
    --gray-50: #f7f7f7;
    --gray-0: #ffffff;

    --gray-alpha-24: #a3a3a33d;
    --gray-alpha-16: #a3a3a329;
    --gray-alpha-10: #a3a3a31a;

    --slate-950: #0e121b;
    --slate-900: #181b25;
    --slate-800: #222530;
    --slate-700: #2b303b;
    --slate-600: #525866;
    --slate-500: #717784;
    --slate-400: #99a0ae;
    --slate-300: #cacfd8;
    --slate-200: #e1e4ea;
    --slate-100: #f2f5f8;
    --slate-50: #f5f7fa;
    --slate-0: #ffffff;

    --slate-alpha-24: #99a0ae3d;
    --slate-alpha-16: #99a0ae29;
    --slate-alpha-10: #99a0ae1a;

    --neutral-950: var(--gray-950);
    --neutral-900: var(--gray-900);
    --neutral-800: var(--gray-800);
    --neutral-700: var(--gray-700);
    --neutral-600: var(--gray-600);
    --neutral-500: var(--gray-500);
    --neutral-400: var(--gray-400);
    --neutral-300: var(--gray-300);
    --neutral-200: var(--gray-200);
    --neutral-100: var(--gray-100);
    --neutral-50: var(--gray-50);
    --neutral-0: var(--gray-0);

    --neutral-alpha-24: var(--gray-alpha-24);
    --neutral-alpha-16: var(--gray-alpha-16);
    --neutral-alpha-10: var(--gray-alpha-10);

    --blue-950: #122368;
    --blue-900: #182f8b;
    --blue-800: #1f3bad;
    --blue-700: #2547d0;
    --blue-600: #3559e9;
    --blue-500: #335cff;
    --blue-400: #6895ff;
    --blue-300: #97baff;
    --blue-200: #c0d5ff;
    --blue-100: #d5e2ff;
    --blue-50: #ebf1ff;

    --blue-alpha-24: #476cff3d;
    --blue-alpha-16: #476cff29;
    --blue-alpha-10: #476cff1a;

    --orange-950: #71330a;
    --orange-900: #96440d;
    --orange-800: #b75310;
    --orange-700: #ce5e12;
    --orange-600: #e16614;
    --orange-500: #fa7319;
    --orange-400: #ffa468;
    --orange-300: #ffc197;
    --orange-200: #ffd9c0;
    --orange-100: #ffe6d5;
    --orange-50: #fff3eb;

    --orange-alpha-24: #ff91473d;
    --orange-alpha-16: #ff914729;
    --orange-alpha-10: #ff91471a;

    --red-950: #681219;
    --red-900: #8b1822;
    --red-800: #ad1f2b;
    --red-700: #d02533;
    --red-600: #e93544;
    --red-500: #fb3748;
    --red-400: #ff6875;
    --red-300: #ff97a0;
    --red-200: #ffc0c5;
    --red-100: #ffd5d8;
    --red-50: #ffebec;

    --red-alpha-24: #fb37483d;
    --red-alpha-16: #fb374829;
    --red-alpha-10: #fb37481a;

    --green-950: #0b4627;
    --green-900: #16643b;
    --green-800: #1a7544;
    --green-700: #178c4e;
    --green-600: #1daf61;
    --green-500: #1fc16b;
    --green-400: #3ee089;
    --green-300: #84ebb4;
    --green-200: #c2f5da;
    --green-100: #d0fbe9;
    --green-50: #e0faec;

    --green-alpha-24: #1fc16b3d;
    --green-alpha-16: #1fc16b29;
    --green-alpha-10: #1fc16b1a;

    --yellow-950: #624c18;
    --yellow-900: #86661d;
    --yellow-800: #a78025;
    --yellow-700: #c99a2c;
    --yellow-600: #e6a819;
    --yellow-500: #f6b51e;
    --yellow-400: #ffd268;
    --yellow-300: #ffe097;
    --yellow-200: #ffecc0;
    --yellow-100: #ffefcc;
    --yellow-50: #fff4d6;

    --yellow-alpha-24: #fbc64b3d;
    --yellow-alpha-16: #fbc64b29;
    --yellow-alpha-10: #fbc64b1a;

    --purple-950: #351a75;
    --purple-900: #3d1d86;
    --purple-800: #4c25a7;
    --purple-700: #5b2cc9;
    --purple-600: #693ee0;
    --purple-500: #7d52f4;
    --purple-400: #8c71f6;
    --purple-300: #a897ff;
    --purple-200: #cac0ff;
    --purple-100: #dcd5ff;
    --purple-50: #efebff;

    --purple-alpha-24: #784def3d;
    --purple-alpha-16: #784def29;
    --purple-alpha-10: #784def1a;

    --sky-950: #124b68;
    --sky-900: #18658b;
    --sky-800: #1f7ead;
    --sky-700: #2597d0;
    --sky-600: #35ade9;
    --sky-500: #47c2ff;
    --sky-400: #68cdff;
    --sky-300: #97dcff;
    --sky-200: #c0eaff;
    --sky-100: #d5f1ff;
    --sky-50: #ebf8ff;

    --sky-alpha-24: #47c2ff3d;
    --sky-alpha-16: #47c2ff29;
    --sky-alpha-10: #47c2ff1a;

    --pink-950: #68123d;
    --pink-900: #8b1852;
    --pink-800: #ad1f66;
    --pink-700: #d0257a;
    --pink-600: #e9358f;
    --pink-500: #fb4ba3;
    --pink-400: #ff68b3;
    --pink-300: #ff97cb;
    --pink-200: #ffc0df;
    --pink-100: #ffd5ea;
    --pink-50: #ffebf4;

    --pink-alpha-24: #fb4ba33d;
    --pink-alpha-16: #fb4ba329;
    --pink-alpha-10: #fb4ba31a;

    --teal-950: #0b463e;
    --teal-900: #16645a;
    --teal-800: #1a7569;
    --teal-700: #178c7d;
    --teal-600: #1daf9c;
    --teal-500: #22d3bb;
    --teal-400: #3fdec9;
    --teal-300: #84ebdd;
    --teal-200: #c2f5ee;
    --teal-100: #d0fbf5;
    --teal-50: #e4fbf8;

    --teal-alpha-24: #22d3bb3d;
    --teal-alpha-16: #22d3bb29;
    --teal-alpha-10: #22d3bb1a;

    --white-alpha-24: #ffffff3d;
    --white-alpha-16: #ffffff29;
    --white-alpha-10: #ffffff1a;

    --black-alpha-24: #0000003d;
    --black-alpha-16: #00000029;
    --black-alpha-10: #0000001a;

    --overlay-gray: #3333333d;
    --overlay-slate: #2b303b3d;

    --overlay: var(--overlay-gray);

    --social-apple: #000;
    --social-twitter: #010101;
    --social-github: #24292f;
    --social-notion: #1e2226;
    --social-tidal: #000;
    --social-amazon: #353e47;
    --social-zendesk: #16140d;

    --primary-dark: var(--blue-800);
    --primary-darker: var(--blue-700);
    --primary-base: var(--blue-500);
    --primary-alpha-24: var(--blue-alpha-24);
    --primary-alpha-16: var(--blue-alpha-16);
    --primary-alpha-10: var(--blue-alpha-10);

    --static-black: var(--neutral-950);
    --static-white: var(--neutral-0);

    --bg-strong-950: var(--neutral-950);
    --bg-surface-800: var(--neutral-800);
    --bg-sub-300: var(--neutral-300);
    --bg-soft-200: var(--neutral-200);
    --bg-weak-50: var(--neutral-50);
    --bg-white-0: var(--neutral-0);

    --text-strong-950: var(--neutral-950);
    --text-sub-600: var(--neutral-600);
    --text-soft-400: var(--neutral-400);
    --text-disabled-300: var(--neutral-300);
    --text-white-0: var(--neutral-0);

    --stroke-strong-950: var(--neutral-950);
    --stroke-sub-300: var(--neutral-300);
    --stroke-soft-200: var(--neutral-200);
    --stroke-white-0: var(--neutral-0);

    --faded-dark: var(--neutral-800);
    --faded-base: var(--neutral-500);
    --faded-light: var(--neutral-200);
    --faded-lighter: var(--neutral-100);

    --information-dark: var(--blue-950);
    --information-base: var(--blue-500);
    --information-light: var(--blue-200);
    --information-lighter: var(--blue-50);

    --warning-dark: var(--orange-950);
    --warning-base: var(--orange-500);
    --warning-light: var(--orange-200);
    --warning-lighter: var(--orange-50);

    --error-dark: var(--red-950);
    --error-base: var(--red-500);
    --error-light: var(--red-200);
    --error-lighter: var(--red-50);

    --success-dark: var(--green-950);
    --success-base: var(--green-500);
    --success-light: var(--green-200);
    --success-lighter: var(--green-50);

    --away-dark: var(--yellow-950);
    --away-base: var(--yellow-500);
    --away-light: var(--yellow-200);
    --away-lighter: var(--yellow-50);

    --feature-dark: var(--purple-950);
    --feature-base: var(--purple-500);
    --feature-light: var(--purple-200);
    --feature-lighter: var(--purple-50);

    --verified-dark: var(--sky-950);
    --verified-base: var(--sky-500);
    --verified-light: var(--sky-200);
    --verified-lighter: var(--sky-50);

    --highlighted-dark: var(--pink-950);
    --highlighted-base: var(--pink-500);
    --highlighted-light: var(--pink-200);
    --highlighted-lighter: var(--pink-50);

    --stable-dark: var(--teal-950);
    --stable-base: var(--teal-500);
    --stable-light: var(--teal-200);
    --stable-lighter: var(--teal-50);

    --bg-weak-50: #f1f1f1;
  }

  .dark {
    --bg-strong-950: var(--neutral-0);
    --bg-surface-800: var(--neutral-200);
    --bg-sub-300: var(--neutral-600);
    --bg-soft-200: var(--neutral-700);
    --bg-weak-50: var(--neutral-900);
    --bg-white-0: var(--neutral-950);

    --text-strong-950: var(--neutral-0);
    --text-sub-600: var(--neutral-400);
    --text-soft-400: var(--neutral-500);
    --text-disabled-300: var(--neutral-600);
    --text-white-0: var(--neutral-950);

    --stroke-strong-950: var(--neutral-0);
    --stroke-sub-300: var(--neutral-600);
    --stroke-soft-200: var(--neutral-700);
    --stroke-white-0: var(--neutral-950);

    --faded-dark: var(--neutral-300);
    --faded-base: var(--neutral-500);
    --faded-light: var(--neutral-alpha-24);
    --faded-lighter: var(--neutral-alpha-16);

    --information-dark: var(--blue-400);
    --information-base: var(--blue-500);
    --information-light: var(--blue-alpha-24);
    --information-lighter: var(--blue-alpha-16);

    --warning-dark: var(--orange-400);
    --warning-base: var(--orange-600);
    --warning-light: var(--orange-alpha-24);
    --warning-lighter: var(--orange-alpha-16);

    --error-dark: var(--red-400);
    --error-base: var(--red-600);
    --error-light: var(--red-alpha-24);
    --error-lighter: var(--red-alpha-16);

    --success-dark: var(--green-400);
    --success-base: var(--green-600);
    --success-light: var(--green-alpha-24);
    --success-lighter: var(--green-alpha-16);

    --away-dark: var(--yellow-400);
    --away-base: var(--yellow-600);
    --away-light: var(--yellow-alpha-24);
    --away-lighter: var(--yellow-alpha-16);

    --feature-dark: var(--purple-400);
    --feature-base: var(--purple-500);
    --feature-light: var(--purple-alpha-24);
    --feature-lighter: var(--purple-alpha-16);

    --verified-dark: var(--sky-400);
    --verified-base: var(--sky-600);
    --verified-light: var(--sky-alpha-24);
    --verified-lighter: var(--sky-alpha-16);

    --highlighted-dark: var(--pink-400);
    --highlighted-base: var(--pink-600);
    --highlighted-light: var(--pink-alpha-24);
    --highlighted-lighter: var(--pink-alpha-16);

    --stable-dark: var(--teal-400);
    --stable-base: var(--teal-600);
    --stable-light: var(--teal-alpha-24);
    --stable-lighter: var(--teal-alpha-16);

    --overlay-gray: #3333338f;
    --overlay-slate: #2b303b8f;

    --overlay: var(--overlay-gray);

    --social-apple: #fff;
    --social-twitter: #fff;
    --social-github: #fff;
    --social-notion: #fff;
    --social-tidal: #fff;
    --social-amazon: #fff;
    --social-zendesk: #fff;



      /* dark */

      
    
  }
  /*#endregion Colors */
}

@layer base {
  :root{
    --bg-background-body: 247 247 247;
    --bg-sub-background: 255 255 255;
    --bg-btn-background: 255 255 255;
    --bg-border-decoration: 224 224 224;
    --svg-color: #c9c9c9;
    --svg-color-doit: #d3d3d336;
    
  }
  [data-theme="dark"]{
    --bg-background-body: 26 26 29;
    --bg-sub-background:38 39 47;
    --bg-btn-background: 38 39 47;
    --bg-border-decoration: #9b9b9b26;
    --svg-color: #3b3b3b;
    --svg-fill-color: #75757536;
    --p: #e6811d66
    --svg-color-doit: #d3d3d336;
    
  }
}

.svg-stroke-color-doit{
  stroke: var(--svg-color-doit);
}

p.framer-text{
  --font-selector: R0Y7T3V0Zml0LXJlZ3VsYXI =;
  --framer-font-family: "Outfit", "Outfit Placeholder", sans-serif;
  --framer-font-size: 14px;
  --framer-text-color: var(--extracted-r6o4lv, rgb(255, 255, 255));
  font-family: var(--framer-blockquote-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));
  font-style: var(--framer-blockquote-font-style, var(--framer-font-style, normal));
  font-weight: var(--framer-blockquote-font-weight, var(--framer-font-weight, 400));
  color: var(--framer-blockquote-text-color, var(--framer-text-color, #000));
  font-size: calc(var(--framer-blockquote-font-size, var(--framer-font-size, 16px))* var(--framer-font-size-scale, 1));
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  text-transform: var(--framer-blockquote-text-transform, var(--framer-text-transform, none));
  text-decoration: var(--framer-blockquote-text-decoration, var(--framer-text-decoration, none));
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  text-align: var(--framer-blockquote-text-alignment, var(--framer-text-alignment, start));
  -webkit-text-stroke-width: var(--framer-text-stroke-width, initial);
  -webkit-text-stroke-color: var(--framer-text-stroke-color, initial);
  font-feature-settings: var(--framer-font-open-type-features, initial);
  text-wrap: var(--framer-text-wrap-override, var(--framer-text-wrap));
}
.svg-fill-color{
  fill: var(--svg-fill-color);
}
.backdrop-blur-lg {
  --tw-backdrop-blur: blur(16px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 17px );
  -webkit-backdrop-filter: blur( 17px );

}

.neon-effect {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  box-shadow: 0 0 10px #feb47b, 0 0 20px #feb47b, 0 0 30px #ff7e5f, 0 0 40px #ff7e5f;
  border-radius: 2px;
}

.svg-stroke-color{
  stroke: var(--svg-color);
}
.pagination-current {
  background-image: linear-gradient(to right, transparent, var(--p), transparent);
  opacity: 1;
}
.carousel * {
  box-sizing: border-box;
}

.bg-ln-gray-200{
  background-color: var(--bg-border-decoration);
}

/* custom scale for Remix Icon */
.remixicon path {
  transform: scale(0.8996);
  transform-origin: center;
}

.bleed-border, .bleed-border-b {
  --tw-full-bleed-border-bottom-width: 1px;
}
.bleed-ln-gray-200 {
  --tw-full-bleed-color: var(--bg-border-decoration);
}
.stroke-svg-color{

}
.border-color{
  border-color: var(--bg-border-decoration);
}
.bleed-border-b {
  border-image: linear-gradient(var(--tw-full-bleed-color) 0 0) 1; /* 0 9999vw 0 9999vw */
  border-right: 1px solid;
}
.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.isolate {
  isolation: isolate;
}

@media (min-width: 1360px) {
  .mac\:block {
       display:block;
  }

  .mac\:flex {
      display: flex
  }

  .mac\:justify-start {
      justify-content: flex-start
  }

  .mac\:justify-stretch {
      justify-content: stretch
  }

  .mac\:px-0 {
      padding-left: 0;
      padding-right: 0
  }
}

.bg-ln-gray-25 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--bg-background-body) / var(--tw-bg-opacity));
}
.bg-bg-weak-50{
  --tw-bg-opacity: 1;
  background-color: var(--bg-weak-50);
}

.h1 {
  --font-size-min: 24;
  --font-level: 8;
  text-wrap: pretty;
  line-height: 0.8;
  margin: 0;
  background: linear-gradient(canvasText 60%, color-mix(in oklch, canvas, canvasText));
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
}

.frame {
  width: 120px;
  aspect-ratio: 1;
  display: grid
;
  place-items: center;
  background: light-dark(hsl(0 0% 98%), hsl(0 0% 94%));
  border-radius: 24px;
  border: 1px solid hsl(0 0% 75% / 0.5);
  box-shadow: 0 40px 30px -18px hsl(30 80% 50% / 0.35), 0 20px 20px -12px hsl(30 80% 50% / 0.35), 0 -2px 4px 2px hsl(30 80% 90% / 0.75) inset;
}

.frame-instagram{
  box-shadow: 0 40px 30px -18px hsl(230, 77%, 58%), 0 20px 20px -12px hsl(30 80% 50% / 0.35), 0 -2px 4px 2px hsl(30 80% 90% / 0.75) inset;
}

.pc-37aetM[data-v-ec8112a1] {
  ---c-cn-top: 0;
  ---eih-inset-inline-start: auto;
  ---if-b-inset-inline-end: 0px;
  ---ss-e-z-index: 10;
  ---wj8-max-width: 75%;
  ---t33-height: 10rem;
  ---jfd-filter: blur(150px);
  ---y-uj-background: linear-gradient(97.62deg, rgba(0, 71, 225, 0.22) 2.27%, rgba(255, 188, 54, 0.22) 50.88%, rgba(198, 220, 0, 0.22) 98.48%);
}
.ellipsis[data-v-ec8112a1] {
  filter: var(---jfd-filter);
  height: var(---t33-height);
  inset-inline-end: var(---if-b-inset-inline-end);
  inset-inline-start: var(---eih-inset-inline-start);
  max-width: var(---wj8-max-width);
  pointer-events: none;
  position: absolute;
  top: var(---c-cn-top);
  width: -webkit-fill-available;
  z-index: var(---ss-e-z-index);
}
.ellipsis .ellipsis-item[data-v-ec8112a1] {
  background: var(---y-uj-background);
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  .lg\:shadow-ln-xs, .lg\:shadow-none {
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (min-width: 1024px) {
  .lg\:shadow-ln-xs {
      --tw-shadow: 0 1px 1px 0.5px rgba(41, 41, 41, .04), 0 3px 3px -1.5px rgba(41, 41, 41, .02), 0 6px 6px -3px rgba(41, 41, 41, .04), 0 12px 12px -6px rgba(41, 41, 41, .04), 0 24px 24px -12px rgba(41, 41, 41, .04), 0 48px 48px -24px rgba(41, 41, 41, .04), 0 0 0 1px rgba(41, 41, 41, .04), inset 0 -1px 1px -0.5px rgba(51, 51, 51, .06);
      --tw-shadow-colored: 0 1px 1px 0.5px var(--tw-shadow-color), 0 3px 3px -1.5px var(--tw-shadow-color), 0 6px 6px -3px var(--tw-shadow-color), 0 12px 12px -6px var(--tw-shadow-color), 0 24px 24px -12px var(--tw-shadow-color), 0 48px 48px -24px var(--tw-shadow-color), 0 0 0 1px var(--tw-shadow-color), inset 0 -1px 1px -0.5px var(--tw-shadow-color);
  }
}

.bg-ln-gray-header {
  --tw-bg-opacity: 0.3;
  --bg-sub-background-header: 51 49 47;
  background-color: rgb(var(--bg-sub-background-header) / var(--tw-bg-opacity, 1));
}

  .bg-ln-gray-0 {
      --tw-bg-opacity: 1;
      background-color: rgb(var(--bg-sub-background) / var(--tw-bg-opacity, 1));
  }


.header-main{
  border: 1px solid hsl(0 0% 75% / 0.5);
  background: light-dark(hsl(0 0% 98%), hsl(0 0% 94%));
  box-shadow: -1px -1px 8px -8px hsl(30 80% 50% / 0.35), 0px -1px 20px -12px hsl(30 80% 50% / 0.35), 0 -2px 0px 2px hsl(30 80% 90% / 0.75) inset;
}
.text-text-strong-950 {
  --gray-950: 23 23 23;
  --neutral-950: var(--gray-950);
  --text-strong-950: var(--neutral-950);
  color: rgb(var(--text-strong-950));
}
.shadow-regular-xs {
  --tw-shadow: 0 1px 2px 0 #0a0d1408;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
}
.bg-bg-white-0 {
  --gray-0: 255 255 255;
  --neutral-0: var(--gray-0);
  --bg-white-0: var(--neutral-0);
  background-color: rgb(var(--bg-btn-background));
}
.ring-0, .ring-1 {
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.ring-stroke-soft-200 {
  --gray-200: 235 235 235;
  --neutral-200: var(--gray-200);
  --stroke-soft-200: var(--neutral-200);
  --tw-ring-color: rgb(var(--stroke-soft-200));
}

.text-ln-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(143 143 143 / var(--tw-text-opacity, 1));
}

.about-me {
      /* background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 82, 87) 100%); */
   
      box-shadow: rgba(255, 82, 87, 0.15) 0px 12px 24px 0px;
      transform: none;
      transform-origin: 50% 50% 0px;
}

.experiencia{
  
  box-shadow: rgba(246, 130, 26, 0.15) 0px 12px 24px 0px;
  transform: none;
  transform-origin: 50% 50% 0px;
}


.trabajos{

    box-shadow: rgba(97, 186, 71, 0.15) 0px 12px 24px 0px;
    transform: none;
    transform-origin: 50% 50% 0px;
}

.contacto{

    box-shadow: rgba(0, 122, 255, 0.15) 0px 12px 24px 0px;
    transform: none;
    transform-origin: 50% 50% 0px;
}


.shadow-regular-xs, .shadow-small {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-regular-xs {
  --tw-shadow: 0 1px 2px 0 #0a0d1408;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
}

.animation {
    position: relative;
    right: 0px;
    bottom: 0px;
    display: block;
  /* width: 640px;
    height: 800px;*/
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.main-planet {
    position: absolute;
  /*  left: 128px;
    top: 280px;*/
    left: 246px;
    top: 222px;
    z-index: 1;
    display: block;
    width: 320px;
    height: 320px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #fff4d6;
    border-radius: 1000px;
    background-color: #070831;
}

.angled-line.line-7 {
    left: 500px;
}
.angled-line {
    position: absolute;
    left: -220px;
    bottom: 0px;
    width: 1200px;
    height: 1px;
    background-color: #fff4d6;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.main-planet {
  position: absolute;
  left: 128px;
  top: 280px;
  z-index: 1;
  display: block;
  width: 320px;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #fff4d6;
  border-radius: 1000px;
  background-color: #070831;
}

.angled-line {
  position: absolute;
  left: -220px;
  bottom: 0px;
  width: 1200px;
  height: 1px;
  background-color: #fff4d6;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.angled-line.line-2 {
  left: -100px;
}

.angled-line.line-3 {
  left: 20px;
}

.angled-line.line-4 {
  left: 140px;
}

.angled-line.line-5 {
  left: 260px;
}

.angled-line.line-6 {
  left: 380px;
}

.angled-line.line-7 {
  left: 500px;
}

:root {
  --border-planet: var(--gray-200);

}


.intro-text {
  color: #908a76;
  font-size: 32px;
  line-height: 48px;
}

.emphasis-text {
  color: #fff4d6;
  font-weight: 400;
}

.main-planet {
  position: absolute;
  left: 128px;
  top: 280px;
  z-index: 1;
  display: block;
  width: 320px;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #dddddd;
  border-radius: 1000px;

  background-color: #f7f7f7;
}

.angled-line {
  position: absolute;
  left: -220px;
  bottom: 0px;
  width: 1200px;
  height: 1px;
  background-color: var(--border-planet);
  opacity: 0.2;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.angled-line.line-2 {
  left: -100px;
}

.angled-line.line-3 {
  left: 20px;
}

.angled-line.line-4 {
  left: 140px;
}

.angled-line.line-5 {
  left: 260px;
}

.angled-line.line-6 {
  left: 380px;
}

.angled-line.line-7 {
  left: 500px;
}

.medium-planet {
  position: absolute;
  top: 25px;
  right: 0px;
  z-index: 2;
  display: block;
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
 
  border-radius: 1000px;
  border: 1px solid #d5d5d5;

  background-color: #f7f7f7;
}

.small-planet {
  position: absolute;
  left: 65px;
  top: 0px;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
 
  border-radius: 1000px;

  border: 1px solid #d5d5d5;

  background-color: #f7f7f7;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rotate-small {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 320px;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rotate-medium {
  position: relative;
  display: block;
  width: 320px;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: 1000px;
}


.rotate-medium {
  position: relative;
  display: block;
  width: 320px;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: 1000px;
}

.rotate-small {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 320px;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.heroh1 {

    font-size: 73px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 50px;
    max-width: 850px;
    text-align: center;
    z-index: 1;
}

.shadow-ln-button-gray {
    --tw-shadow: 0 16px 8px rgba(31, 31, 31, .01), 0 12px 6px rgba(31, 31, 31, .04), 0 4px 4px rgba(31, 31, 31, .07), 0 1.5px 3px rgba(31, 31, 31, .08), 0 0 0 1px #0f0f0f, inset 0 1px 2px hsla(0, 0%, 100%, .12);
    --tw-shadow-colored: 0 16px 8px var(--tw-shadow-color), 0 12px 6px var(--tw-shadow-color), 0 4px 4px var(--tw-shadow-color), 0 1.5px 3px var(--tw-shadow-color), 0 0 0 1px var(--tw-shadow-color), inset 0 1px 2px var(--tw-shadow-color);
}
.shadow-ln-branding-neutral, .shadow-ln-button-gray {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#hero-heading-key-line {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #d66761 16.66666%, #f5c0b2 33.33333%, #aee8fa 50%, #68bde7 66.66666%, #6bd490 83.33333%, #a2f6cf);
  color: #fff;
}

.item-title span {
    display: inline-block;
    margin: 0;
    min-width: 10px;
    width: auto;
    line-height: 30px;
    height: 30px;
    box-sizing: border-box;
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
}

.background-section{
  --hue-4: #d5d5d5;
  --black: #f7f7f7;
  --accent: var(--hue-4);

  min-height: 100vh;
  min-height: 100svh;
  --dot-size: 1px;
  --gap-size: 20px;
  --offset: calc(var(--gap-size) / 2);
  background-image: linear-gradient(var(--black) 60%, transparent 100%), radial-gradient(var(--accent) var(--dot-size), transparent var(--dot-size)), radial-gradient(var(--accent) var(--dot-size), transparent var(--dot-size));
  background-position: 0 0, 0 0, var(--offset) var(--offset);
  background-size: 100% 100%, var(--gap-size) var(--gap-size), var(--gap-size) var(--gap-size);

  display: flex
;
  flex-direction: column;
  flex-wrap: nowrap;
}

body {
  --token-0a0787f4-acc7-4c77-bc44-5077db5742f9: rgb(10, 10, 10);
  --token-b6da50e5-b32a-44dd-aa84-c523d3b15f56: rgb(255, 255, 255);
  --token-4778da22-d77e-4a9b-907f-723b38915d78: rgba(255, 255, 255, .56);
  --token-db045c8d-82bf-47c4-8c5a-9446a159a946: rgb(240, 240, 240);
  --token-7525b78a-2f50-4d1b-b609-39a2e89b5d83: rgb(153, 153, 153);
  --token-75959dab-2c20-4b1a-a94b-e2dfa46fe2e8: rgba(255, 255, 255, .1);
  --token-e4c19f5a-541a-4c6e-a753-342a8edf3a6c: rgb(12, 12, 13);
  --token-dc3feb89-54ab-48da-add3-a0c432b75149: rgb(18, 19, 20);
  --token-3b2f60dc-5218-435c-8500-82085cdc151e: rgb(15, 15, 15);
  --token-25404318-aac1-4864-889c-46bc5f01d7b8: rgb(29, 155, 240);
}

.framer-qL3Nr .framer-11253p8 {
 /* background-color: var(--token-0a0787f4-acc7-4c77-bc44-5077db5742f9, var(--bg-background-body));*/
  bottom: -100px;
  flex: none;
  height: 800px;
  left: calc(50.00000000000002% - 1200px / 2);
  overflow: hidden;
  position: absolute;
  width: 1200px;
  z-index: 0;
}
.framer-qL3Nr .framer-xs0sb5 {
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  background: linear-gradient(180deg, #0a0a0a 0%, rgba(0, 0, 0, 0) 100%);
  flex: none;
  height: 588px;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
}
.framer-qL3Nr .framer-dw9aad {
  flex: none;
  inset: 0;
  overflow: visible;
  position: absolute;
}

.framer-qL3Nr .framer-hh1l9l-container {
  flex: none;
  inset: 0;
  position: absolute
}

.framer-qL3Nr .framer-xs0sb5 {
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  background: linear-gradient(180deg,var(--bg-background-body) 0%,rgba(0,0,0,0) 100%);
  flex: none;
  height: 588px;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0
}

.framer-qL3Nr .framer-12gsl6o-container {
  flex: none;
  height: 588px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.framer-qL3Nr .framer-1az1164 {
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  background: linear-gradient(180deg,var(--bg-background-body) 0%,rgba(10,10,10,0) 100%);
  flex: none;
  height: 100px;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0
}

.framer-qL3Nr .framer-1liu9c4 {
  -webkit-filter: blur(57px);
  background: radial-gradient(50% 50% at 50% 50%,rgba(255,255,255,.5) 0%,rgba(10,10,10,0) 100%);
  bottom: 265px;
  filter: blur(57px);
  flex: none;
  height: 111px;
  left: calc(47.91666666666669% - 787px / 2);
  overflow: hidden;
  position: absolute;
  width: 787px
}

.framer-qL3Nr .framer-9dhxaz {
  background: linear-gradient(180deg,#ffffff 0%,rgba(10,10,10,0) 100%);
  border-radius: 100%;
  bottom: -662px;
  flex: none;
  height: 955px;
  left: -443px;
  position: absolute;
  right: -443px
}

.framer-qL3Nr .framer-ct3gpt {
  aspect-ratio: 2.346820809248555 / 1;
  background-color: rgb(26 26 26);
  border-radius: 100%;
  bottom: -668px;
  box-shadow: inset 0 2px 20px #fff,0 -10px 50px 1px #ffffff7d;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 956px);
  left: -521px;
  position: absolute;
  right: -521px
}

.framer-qL3Nr .framer-1f3m948 {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: center;
  inset: 0;
  overflow: hidden;
  padding: 0;
  position: absolute
}

.framer-qL3Nr .framer-xfsdgu {
  background: linear-gradient(90deg,var(--bg-background-body) 0%,rgba(10,10,10,0) 100%);
  flex: none;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 600px
}

.framer-qL3Nr .framer-17qwwh1 {
  background: linear-gradient(270deg,var(--bg-background-body) 0%,rgba(10,10,10,0) 100%);
  flex: none;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 600px
}

.framer-qL3Nr .framer-1949tzi-container {
  flex: none;
  height: auto;
  position: relative;
  width: 100%
}

@supports (background: -webkit-named-image(i)) and (not (scale:1)) {
  .framer-qL3Nr.framer-pmg2x0,.framer-qL3Nr .framer-eu0l83,.framer-qL3Nr .framer-10vkzr9,.framer-qL3Nr .framer-p8qniu,.framer-qL3Nr .framer-3ucszq,.framer-qL3Nr .framer-cbjg1b,.framer-qL3Nr .framer-1wtjw1e,.framer-qL3Nr .framer-1m9xa5,.framer-qL3Nr .framer-1f3m948 {
      gap:0px
  }

  .framer-qL3Nr.framer-pmg2x0>*,.framer-qL3Nr .framer-eu0l83>* {
      margin: 0
  }

  .framer-qL3Nr.framer-pmg2x0>:first-child,.framer-qL3Nr .framer-eu0l83>:first-child,.framer-qL3Nr .framer-10vkzr9>:first-child,.framer-qL3Nr .framer-p8qniu>:first-child,.framer-qL3Nr .framer-3ucszq>:first-child,.framer-qL3Nr .framer-1wtjw1e>:first-child {
      margin-top: 0
  }

  .framer-qL3Nr.framer-pmg2x0>:last-child,.framer-qL3Nr .framer-eu0l83>:last-child,.framer-qL3Nr .framer-10vkzr9>:last-child,.framer-qL3Nr .framer-p8qniu>:last-child,.framer-qL3Nr .framer-3ucszq>:last-child,.framer-qL3Nr .framer-1wtjw1e>:last-child {
      margin-bottom: 0
  }

  .framer-qL3Nr .framer-10vkzr9>*,.framer-qL3Nr .framer-p8qniu>* {
      margin: 12px 0
  }

  .framer-qL3Nr .framer-3ucszq>* {
      margin: 8px 0
  }

  .framer-qL3Nr .framer-cbjg1b>* {
      margin: 0 10px
  }

  .framer-qL3Nr .framer-cbjg1b>:first-child,.framer-qL3Nr .framer-1m9xa5>:first-child,.framer-qL3Nr .framer-1f3m948>:first-child {
      margin-left: 0
  }

  .framer-qL3Nr .framer-cbjg1b>:last-child,.framer-qL3Nr .framer-1m9xa5>:last-child,.framer-qL3Nr .framer-1f3m948>:last-child {
      margin-right: 0
  }

  .framer-qL3Nr .framer-1wtjw1e>* {
      margin: 2px 0
  }

  .framer-qL3Nr .framer-1m9xa5>* {
      margin: 0 5px
  }

  .framer-qL3Nr .framer-1f3m948>* {
      margin: 0
  }
}

















.framer-yzfLR .framer-w4o5l8-container, .framer-yzfLR .framer-4eyzz0-container, .framer-yzfLR .framer-s9epjb-container, .framer-yzfLR .framer-1075gt6-container {
  align-self: start;
  aspect-ratio: 1.3299492385786802 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 394px);
  justify-self: start;
  position: relative;
  width: 100%;
}

.framer-nEPlD.framer-7qr5v3 {
  align-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  display: flex
;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 32px;
  height: 394px;
  justify-content: flex-end;
  overflow: hidden;
  padding: 32px;
  position: relative;
  text-decoration: none;
  width: 524px;
  will-change: var(--framer-will-change-override, transform);
}

.framer-nEPlD .framer-1r8puyn {
  flex: none;
  inset: 0;
  overflow: visible;
  position: absolute;
}

.framer-nEPlD .framer-kzbqrm {
  flex: none;
  inset: 0;
  overflow: hidden;
  position: absolute;
  will-change: var(--framer-will-change-override, transform);
  z-index: 1;
}

.framer-nEPlD .framer-dykdj1 {
  align-content: center;
  align-items: center;
  display: flex
;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.framer-nEPlD .framer-15e7gz7 {
  align-content: center;
  align-items: center;
  display: flex
;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.framer-nEPlD .framer-2hxlxq {
  flex: none;
  height: auto;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
  word-break: break-word;
  word-wrap: break-word;
}

 .framer-1brwiev {
  --border-bottom-width: 1px;
  --border-color: rgba(255, 255, 255, .2);
  --border-left-width: 1px;
  --border-right-width: 1px;
  --border-style: solid;
  --border-top-width: 1px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #0000001a;
  border-radius: 40px;
  box-shadow: inset 0 0 20px #ffffff1a, 0 4px 20px #fff3;
  flex: none;
  height: 45px;
  left: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 135px;
}

.framer-3R4K1 .framer-r90ncs, .framer-3R4K1 .framer-6xud5l, .framer-3R4K1 .framer-s5a56c, .framer-3R4K1 .framer-jjc89m, .framer-3R4K1 .framer-tcfy0l {
  flex: none;
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.framer-3R4K1 .framer-1cptwvh, .framer-3R4K1 .framer-14ij3fl, .framer-3R4K1 .framer-1ccf1hi, .framer-3R4K1 .framer-12kj52j {
  --framer-paragraph-spacing: 0px;
  flex: none;
  height: auto;
  left: 50%;
  position: absolute;
  top: 12px;
  transform: translate(-50%);
  white-space: pre;
  width: auto;
}
p.framer-text, div.framer-text, h1.framer-text, h2.framer-text, h3.framer-text, h4.framer-text, h5.framer-text, h6.framer-text, li.framer-text, ol.framer-text, ul.framer-text, span.framer-text:not([data-text-fill]) {
  font-family: var(--framer-blockquote-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));
  font-style: var(--framer-blockquote-font-style, var(--framer-font-style, normal));
  font-weight: var(--framer-blockquote-font-weight, var(--framer-font-weight, 400));
  color: var(--framer-blockquote-text-color, var(--framer-text-color, #000));
  font-size: calc(var(--framer-blockquote-font-size, var(--framer-font-size, 16px))* var(--framer-font-size-scale, 1));
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  text-transform: var(--framer-blockquote-text-transform, var(--framer-text-transform, none));
  text-decoration: var(--framer-blockquote-text-decoration, var(--framer-text-decoration, none));
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  text-align: var(--framer-blockquote-text-alignment, var(--framer-text-alignment, start));
  -webkit-text-stroke-width: var(--framer-text-stroke-width, initial);
  -webkit-text-stroke-color: var(--framer-text-stroke-color, initial);
  font-feature-settings: var(--framer-font-open-type-features, initial);
}

.framer-3R4K1[data-border=true]:after, .framer-3R4K1 [data-border=true]:after {
  content: "";
  border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
  border-color: var(--border-color, none);
  border-style: var(--border-style, none);
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: inherit;
  pointer-events: none;
}




 .framer-yf0dhb {
  --framer-aspect-ratio-supported: auto;
  aspect-ratio: 1 / 1;
  height: var(--framer-aspect-ratio-supported, 86px);
  overflow: visible;
  position: relative;
  width: 86px;
}